/*************** General ***************/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  grid-template-columns: repeat(1, 1fr);  
  text-align: center;
}

/*************** Top Navigator Div ***************/

#topnav {
  padding-bottom:65px;
}

ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

/*************** Suggestion Div ***************/

#suggestions {

}

.suggestion {
  max-width: 800px;
  padding: 15px;
  /* center div */
  margin: auto;
}

p {
  text-align: left;
}

.suggestion a {
  text-decoration: none;
  font-size: 20px;
  color: #3366BB;
  font-weight: bold;
}

.suggestion a:visited {
  color: #663366;
}

img {
  max-height: 40vh;
  max-width: 90vw;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*************** End Section Div ***************/

#end-section {
  text-align: center;
  margin-bottom: 15px;
}

#data-button {
  margin-top: 15px;
  margin-bottom: 15px;
}