/*************** General ***************/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  grid-template-columns: repeat(1, 1fr);  
}

/*************** Top Navigator Div ***************/

#topnav {
  padding-bottom:40px;
}

ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*************** Suggestion Div ***************/

#all-suggestions {
  text-align: center;
}

.suggestion {
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

p {
  text-align: left;
}

.suggestion a {
  text-decoration: none;
  font-size: 20px;
  color: #3366BB;
  font-weight: bold;
}

.suggestion a:visited {
  color: #663366;
}

img {
  max-height: 40vh;
  max-width: 90vw;
  padding-top: 5px;
}
/*
@media screen and (max-width: 90vw) {
  img {
    max-width: 90vw;
  }
}*/