/*************** General ***************/

/* gets rid of input focus */
*:focus {
  outline:none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*************** Input ***************/

#wrapper {
  background-image: url('../images/file1.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
}

#search-form {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input {
  color: black;
  font-weight: normal;
  width: 100%; /* Full width */
  max-width: 500px;
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 24px; /* Bottom margin */
}

.ui-autocomplete {
  max-height: 200px;
  max-width: 72vw;
  overflow-y: scroll;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 0px;
} 

#drop-down-button {
  margin-bottom: 10px;
  background-color: transparent;
  border-width: medium;
}

#advanced-search {
  margin-top: 10px;
}

/*************** Button ***************/

.button {
  padding: 0px;

  width: 225px;
  height: 75px;
  border-radius: 37px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  line-height: 75px;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #4598f3;

  background: #9fd6fa;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9fd6fa), to(#6bb9f7));
  background: -moz-linear-gradient(#9fd6fa, #6bb9f7);
  background: linear-gradient(#9fd6fa, #6bb9f7);
  border: solid 1px #72bdf4;
}

.button:hover {
  background: #6bb9f7;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6bb9f7), to(#9fd6fa));
  background: -moz-linear-gradient(#6bb9f7, #9fd6fa);
  background: linear-gradient(#6bb9f7, #9fd6fa);
  border: solid 1px #72bdf4;
}

.button:active {
  background: #6bb9f7;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6bb9f7), to(#9fd6fa));
  background: -moz-linear-gradient(#6bb9f7, #9fd6fa);
  background: linear-gradient(#6bb9f7, #9fd6fa);
  border: solid 1px #72bdf4;
  box-shadow: inset 0 10px 15px 0 #50aaf3; 
}

/*************** Old Code ***************/

/*
.titles {
color: #d0d7e8;
font-size: 16px;
}

.type1 {
padding-top: 10px;
background-color: lightgrey;
padding-bottom: 10px;
}

.type2 {
padding-top: 10px;
background-color: white;
padding-bottom: 10px;
}
*/
