<!DOCTYPE html>
<html>
  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/search.css">
  </head>

  <body>
    <div id='body'>

      <form id="search-form" method="POST" action="/rec">
        Form based on:<br>
        <input type='text' placeholder=""><br>

        <div class='type1'>
          <!--
Rating Weight:<br>
<input type='range' min='0' max='10' value='10' name='ratingWeight'><br>
-->
          How many recommendations do you want (0-500)?:<br>
          <input type='number' min='1' max='500' value='500' name='numRecs'><br>
        </div>

        <div class='type2' id='years'>
          Min Year:<br>
          <input type='number' min='0' max='9999' value='0' name='minYear'><br>

          Max Year:<br>
          <input type='number' min='0' max='9999' value='2018' name='maxYear'><br>
        </div>

        <div class='type1' id='votes'>
          Min Votes:<br>
          <input type='number' min='0' max='999999' value='0' name='minVotes'><br>

          Max Votes:<br>
          <input type='number' min='0' max='999999' value='999999' name='maxVotes'><br>
        </div>

        <div class='type2' id='genres'>
          <!--
Genres Weight:<br>
<input type='range' min='0' max='10' value='3' name='genresWeight'><br>
-->
          Genres (separate by comma):<br>
          <input type='text' autocomplete='on' name='genres'><br>
        </div>

        <div class='type1' id='themes'>
          <!--
Themes Weight:<br>
<input type='range' min='0' max='10' value='3' name='themesWeight'><br>
-->
          Themes (separate by comma):<br>
          <input type='text' autocomplete='on' name='themes'><br>
        </div>

        <div class='type2' id='director'>
          <!--
Director Weight:<br>
<input type='range' min='0' max='10' value='3' name='directorWeight'><br>
-->
          Director:<br>
          <input type='text' autocomplete='on' name='director'><br>
        </div>

        <div class='type1' id='studio'>
          <!--
Studio Weight:<br>
<input type='range' min='0' max='10' value='3' name='studioWeight'><br>
-->
          Studio:<br>
          <input type='text' autocomplete='on' name='studio'><br>
        </div>

        <input class='button' type='submit' value='Submit'>
      </form>

    </div>
  </body>
</html>