<!DOCTYPE html>
<html>

  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/index.css">
    
    <link rel="shortcut icon" href="#" />
  </head>

  <body>
    <div id='body'>
      <div>
        <p id='title'>AniRec</p>
      </div>
      <!--<a href='https://www.animenewsnetwork.com/encyclopedia/ratings-anime.php?top50=best_bayesian&n=500' class="button" style='text-decoration: none'>Anime List</a>-->
      <div id='search'>
        <input type='text' placeholder='Search...'>
      </div>
      <a href="/search" class="button" style='text-decoration: none'>Search</a>
    </div>

  </body>
</html>