<!DOCTYPE html>
<html>
  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/index.css">
    <!--For the title font-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <!--Include jquery autocomplete library-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div id='body'>
      <!--<a href='https://www.animenewsnetwork.com/encyclopedia/ratings-anime.php?top50=best_bayesian&n=500' class="button" style='text-decoration: none'>Anime List</a>-->
      <div>
        <p id='title'>AniRec</p>
      </div>
      <form id="search-form" method="POST" action="/search">
        <div id='search'>
          <input type='text' id='searchBox' name='titles' placeholder=''>
        </div>
        <input class='button' type='submit' value='Submit'>
      </form>
    </div>

    <!---------------------- AUTOCOMPLETE SCRIPTS ---------------------->
    <script>
      $(function() {
        var dataArray = <%- JSON.stringify(data) %>;
        $( "#searchBox" )
        // don't navigate away from the field on tab when selecting an item
          .on( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
              $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
          .autocomplete({
          minLength: 0,
          source: function( request, response ) {
            // delegate back to autocomplete, but extract the last term
            response( $.ui.autocomplete.filter(
              dataArray, extractLast( request.term ) ) );
          },
          focus: function() {
            // prevent value inserted on focus
            return false;
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
          }
        })
        function split(val) {
          return val.split(",").map(item => item.trim());
        }
        function extractLast(term) {
          return split(term).pop().trim();
        };
      })
    </script>
  </body>
</html>