<!DOCTYPE html>
<html>
  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/search.css">
  </head>

  <body>
    <div id='body'>
      
      <form id="search-form" method="POST" action="/rec">
        Anime Title:<br>
        <input type='text' placeholder=""><br>
        
        Rating Weight:<br>
        <input type='range' min='0' max='10' name='ratingWeight'><br>
        
        How many recommendations do you want (0-500)?:<br>
        <input type='number' min='1' max='500' name='numRecs'><br>
        
        Min Year:<br>
        <input type='number' min='0' max='9999' name='minYear'><br>
        
        Max Year:<br>
        <input type='number' min='0' max='9999' name='maxYear'><br>
        
        Min Votes:<br>
        <input type='number' min='0' max='999999' name='minVotes'><br>
        
        Max Votes:<br>
        <input type='number' min='0' max='999999' name='maxVotes'><br>
        
        <input type='submit' value='Submit'>
      </form>
      
    </div>
  </body>
</html>